extends layout

block content
  .container.mx-auto.mt-5
    h1.text-xl.font-bold Data Mahasiswa
    .table-container.mt-4
      .flex.justify-between.items-center.mb-3.bg-blue-950.px-2.py-2
        input#searchInput.form-control.rounded.px-2.py-2.search(type="text" placeholder="Cari nama mahasiswa")
        a.btn.btn-primary.ml-2(href='/mahasiswa/create') Tambah Mahasiswa
      .table-responsive
        table#dataTable.table.table-bordered(style="overflow-x:auto")
          thead
            tr
              th #
              th NIM
              th Nama
              th Status Pendaftaran
              th Nilai
              th Daftar Nilai
          tbody
            each mahasiswa, index in mahasiswas  
              tr
                td= index + 1  
                td= mahasiswa.nim 
                td= mahasiswa.nama  
                td= mahasiswa.status_pendaftaran  
                td= mahasiswa.nilai  
                td= mahasiswa.daftar_nilai
